/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  /* color: #3b5f40; */
}

/* div {
  border: black 1px solid;
} */

.philosophy h5 {
  font-family: "Staatliches", sans-serif;
}

.philosophy span {
  color: #3b5f40;
}

h3 {
  font-family: "Staatliches", sans-serif;
  font-weight: bold;
  padding-top: 30px;
}

/* Nav bar */
nav {
  background-color: rgba(0, 0, 0, 0);
}
nav ul a,
nav .brand-logo {
  color: #004d40;
  font-weight: 500;
  letter-spacing: 0.1em;
}
nav ul a {
  font-size: 1.2em;
}
.brand-logo img {
  width: auto;
  height: 64px;
}

/* Mobile sidenav*/
.sidenav-trigger {
  color: #3b5f40;
}

/* Hero banner */
#hero-banner {
  max-height: 600px;
  margin-bottom: 0;
}
#hero-icon {
  width: 800px;
  max-height: 400px;
}
#hero-banner .row {
  margin: 0;
  /* background-color: rgba(8,61,37,0.3); */
}

p {
  line-height: 2rem;
}

/* Reviews */
.testimonials {
  background-color: #fafafa;
}

.carousel .indicators .indicator-item {
  background: rgb(84 110 122) !important;
}

.carousel .indicators .indicator-item.active {
  background-color: rgb(31 99 87) !important;
}
.carousel-item {
  max-height: 300px !important;
}

.carousel-item p {
  color: #585858;
}

.fa-quote-left {
  color: #585858;
}

.google-review {
  float: right;
}

.fa-star {
  color: #fdcc0d;
}

#customer-review {
  text-align: center;
  margin: 0 !important;
  /* color: #d0d0d0; */
}

.carousel.carousel-slider .carousel-item {
  min-height: 400px;
}

/* Message section */
.banner {
  height: 400px;
  width: 100%;
}
.banner-row {
  height: 400px;
}
.banner-row .col {
  padding: 0;
}
@media screen and (max-width: 600px) {
  .banner {
    height: 250px;
  }
  .banner-row {
    height: 250px;
  }
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .parallax-container {
    height: 150px;
  }
}

/* Contact Us  */

.contact h4 {
  font-family: "Staatliches", sans-serif;
}

/* Philsophy Section */

.message {
  background-color: #fdf6f0;
  margin-top: 0;
}

.philosophy img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.items {
  height: 500px;
}

#menu-movement {
  margin-left: 75%;
}

@media only screen and (max-width: 767px) {
  #menu-movement {
    margin-left: 0%;
    text-align: center;
  }
}

#item2 {
  padding-top: 6%;
}

/* Menu Button */
#menu-btn {
  border-radius: 12px;
  border: solid 2px #3b5f40;
  color: black;
  background: #fdf6f0;
  font-weight: 500;
  font-size: 35px;
  font-family: "Staatliches", sans-serif;
  height: 50px;
  width: 300px;
  position: relative;
}

#menu-btn:hover {
  color: #3b5f40;
  background-color: whitesmoke;
}

@media only screen and (max-width: 767px) {
  .items {
    height: 350px;
  }
  #menu-btn {
    width: 200px;
  }
}

/* Google map */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

footer.page-footer {
  margin: 0;
}

/* Age verification modal */
.modal {
  top: 20% !important;
  max-width: 40em;
  background-color: whitesmoke;
  /* color:#0a2d1c */
  color: black;
  text-align: center;
  padding: 10px;
}

.modal-footer {
  background-color: whitesmoke;
  text-align: center;
  width: 5px;
}

.modal p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  font-family: "Staatliches", sans-serif;
}

.modal h2 {
  text-align: center;
  margin: 0;
  font-family: "Staatliches", sans-serif;
  border-bottom: 4px black solid;
}
.modal h6 {
  text-align: center;
  margin: 0;
  padding-top: 5px;
  font-size: 0.8em;
}

.modal-overlay {
  opacity: 0.9 !important;
}

.modal button {
  background-color: #0a2d1c;
  color: white;
  font-family: "Staatliches", sans-serif;
  padding: 15px 64px;
  font-size: 16px;
  margin: 5px;
}

#modal-buttons {
  margin: 5px;
}

.modal-close.red-text {
  margin-right: 2px !important;
}

#modal-logo {
  width: 200px;
  height: auto;
  margin-bottom: 0;
}

#modal-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icon {
  margin-top: 2px !important;
  margin-right: 5px !important;
}

.social-button {
  color: #004d40;
}

#menu {
  margin-top: 5%;
}

/* footer  */

.icon {
  margin-right: 1em;
}

.site-footer {
  background-color: #fdf6f0;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #585858;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #4f7955;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #585858;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #585858;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #4f7955;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: whitesmoke;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
